[mysqld]
default_authentication_plugin=mysql_native_password

slow_query_log      = 1
slow_query_log_file = /var/log/mysql/mysqlslow.log
long_query_time     = 0


# InnoDBの設定

# 2GBのメモリの中で、約半分をInnoDBのバッファプールに割り当て。
# 主にDBのデータとインデックスをキャッシュするための領域。
innodb_buffer_pool_size = 1G

# InnoDBのログファイルのサイズ。SSDの高速なI/Oを考慮して設定。
innodb_log_file_size = 128M

# SSDを使用しているため、O_DIRECTを使用してOSのキャッシュをバイパス。
innodb_flush_method = O_DIRECT

# 書き込み/読み込みのI/Oスレッド。リソースが限られているため、低めに設定。
innodb_write_io_threads = 4
innodb_read_io_threads = 4

# パフォーマンスを考慮してログのフラッシュの方法を設定。
innodb_flush_log_at_trx_commit = 2

# キャッシュとバッファの設定

# スレッドのキャッシュサイズを設定。
thread_cache_size = 8

# 同時にオープンできるテーブルの数を制限。
table_open_cache = 300

# その他の設定

# 一時テーブルのサイズを設定。
tmp_table_size = 32M
max_heap_table_size = 32M

# 同時に処理できる接続数の最大値を制限。
max_connections = 100

# JOINやソートに関するバッファのサイズを制限。
join_buffer_size = 1M
sort_buffer_size = 1M
read_rnd_buffer_size = 1M
