[mysqld]
default_authentication_plugin=mysql_native_password

slow_query_log      = 1
slow_query_log_file = /var/log/mysql/mysqlslow.log
long_query_time     = 0

# バイナリログを無効化。レプリケーションやポイントインタイムリカバリが不要な場合に、ディスクI/Oのオーバーヘッドを削減するために使用します。
disable-log-bin

# InnoDBのダブルライト機能を無効化。ディスクの書き込みを高速化するためのものですが、クラッシュ時のデータ復旧が困難になるリスクがあります。
innodb_doublewrite = 0

# 同時にオープンできる接続の最大数を指定。
max_connections=1000

# InnoDBの主要なキャッシュ。データベースのデータとインデックスをメモリにキャッシュします。通常、利用可能なメモリの50%-80%を割り当てます。
innodb_buffer_pool_size = 1GB

# トランザクションの確定時のログの書き込み方法を設定。0は非同期で最も高速ですが、クラッシュ時に最後の1秒間のデータが失われるリスクがあります。
innodb_flush_log_at_trx_commit = 0

# InnoDBのデータとログの読み書き方法を指定。O_DIRECTはOSのバッファキャッシュをバイパスして、直接ディスクI/Oを行います。
innodb_flush_method = O_DIRECT

# テーブルごとに独立したInnoDBデータファイルを使用。大きなデータベースでの管理やディスク使用量の最適化に有用。
innodb_file_per_table=ON

# InnoDBの更新（redo）ログをメモリ内でバッファリングするサイズを設定。
innodb_log_buffer_size = 16MB

# 更新（redo）ログのディスク上のファイルサイズを設定。大きなトランザクションを扱う場合には増やすことが推奨される。
innodb_log_file_size=250MB

# SQLのORDER BYやGROUP BY操作時に使用するバッファのサイズを設定。
innodb_sort_buffer_size = 4MB

# テーブルの行を順不同で読み取る際のバッファサイズを設定。
read_rnd_buffer_size = 2MB

# MyISAMテーブルのキー情報をキャッシュするサイズを設定。InnoDBを主に使用する場合でも、内部的なテーブルで使用されることがある。
key_buffer_size = 256MB

# InnoDBのログライタースレッドの数を設定。通常はCPUのコア数に応じて調整しますが、ここでは無効にしています。
innodb_log_writer_threads = off
